.app_MultiSelect{
    /* max-width: 800px; */
    display: flex;
    justify-content: center;
    padding: 30px;
    height: 100vh;
    
}

button{
box-sizing: border-box;
border-radius: 4px;
padding: 7.5px 10px;
cursor: pointer;

}
button:hover{
    background: #EEEEEE;
    border: 1px solid #EEEEEE;
    color: #555555;
}
.MultiSelect_Component__isClose{
    background-color: #FFFFFF;
    color: #555555;
    border: 1px solid #EEEEEE;
}
.MultiSelect_Component__isOpen{
    background: #4A90E2;
    border: 1px solid #4A90E2;
    color: #fff;
}
.MultiSelect_Component{
    width: 183px;
}
.MultiSelect_Component__Options{
margin-top: 15px;
background: #FFFFFF;
border: 1px solid #EEEEEE;
box-sizing: border-box;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
border-radius: 4px;
font-size: 14px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0em;
text-align: left;
z-index: 1000;
}
.MultiSelect_Component__Options .option{
    padding: 2px 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.MultiSelect_Component__Options .option:hover{
    background: rgba(74, 144, 226, 0.07);
}
