.app_MultiSelect{
    max-width: 800px;
    display: flex;
    justify-content: center;
    padding: 30px;
}

button{
background: #4A90E2;
border: 1px solid #4A90E2;
box-sizing: border-box;
border-radius: 4px;
color: #fff;
padding: 7.5px 10px;

}